.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-size: 300; */
  /* text-transform: lowercase; */
}

/* .App :not(.App-Chart-ControlBtns-Container){
  transition: all 0.3s ease;
} */
/* ///////////////////////////////////////////////////////  Navbar  ////////////////////////////////////////////////////////*/
.App-Navbar-Container {
  /* background-color: rgb(77, 77, 77); */
  background-color: #202124;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 2rem;
  width: 90vw; */
  height: 50px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 2rem;
  color: white;
}

/* .App-Navbar-Left{}
.App-Navbar-Label{
}
.App-Navbar-Right{} */
.App-Navbar-Input {
  /* padding: 0.2rem; */
  /* width: 20vw; */
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
.App-Navbar-Btn {
  padding: 5px;
  border-radius: 5px;
  background-color: #3e3e3e;
  color: white;
  border: 1px solid black;
  margin: 0.3rem;
}

.App-Navbar-Btn:active {
  background-color: #000000;
}
/* .App-Navbar-SearchBtn{}
.App-Navbar-LiveBtn{} */

/* 920px */

.App-Navbar-Container form {
  display: inline-block;
}

@media screen and (max-width: 960px) {
  .App-Navbar-Container {
    height: 4rem;
    width: 100%;
  }
  .App-Navbar-Left {
    display: none;
  }
  /*.App-Navbar-Input{

  } */
}

/* ///////////////////////////////////////////////////////  Header  ////////////////////////////////////////////////////////*/

.App-Header-Container {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 720px;
  /* border: 1px solid #000000; */
  /* background-color: 		#c9e9f6; */
  /* background-color: #202124; */
  /* background-color: #000000; */
  /* background-color: #131930; */
  background-color: #538a8f;
  /* background-color: rgb(195, 195, 195); */
  height: 100px;
  /* padding: 0.5rem; */
  border-radius: 5px;
  color: white;
}
.App-Header-Left {
  display: flex;
}

.App-Header-Img {
  /* background-color: #fff; */
  /* border-radius: 50px; */
  /* filter: drop-shadow(0px 0px 10px #bebebe); */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* width: 100px;
  height: 100px; */
  /* padding: 0.5rem; */
  /* background-color: black; */
}
.App-Header-Img .App-Header-ImgIcon {
  z-index: 3;
  /* background-color: #3e3e3e; */
  /* filter: contrast(2); */
  /* -webkit-filter: drop-shadow(5px 5px 5px #222); */
  /* filter: drop-shadow(0px 0px 10px #000000); */
  /* filter: drop-shadow(0px 0px 10px #000000); */
  /* display: none; */
  /* margin: 0.3rem; */
  /* height: 110%; */
  /* display: none; */
  /* z-index: 66; */
}

.App-Header-Img .App-Header-ImgBackBlur {
  z-index: 0;
  opacity: 50%;
  position: absolute;
  top: 0;
  /* right: 0; */
  filter: blur(2px);
  /* scale: 5; */
  /* transform: translateX(2); */
  transform: scale(3) translateX(-5%);
}

.App-Header-Temp {
  /* background-color: #3e3e3e; */
  font-weight: bold;
  align-self: center;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(187, 187, 187); */
  /* filter: drop-shadow(2px 3px 8px #222); */
  /* color: #fff; */
  /* text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
    0 0 21px #fff; */
  /* 0 0 42px #0073ff,
    0 0 82px #0073ff,
    0 0 92px #0073ff,
    0 0 102px #0073ff,
    0 0 151px #0073ff; */
  /* 0 0 151px #0fa; */
  /* margin: 0.3rem; */
  font-size: 4rem;
  z-index: 66;
}
.App-Header-CF {
  z-index: 1;
  align-self: center;
  /* background-color:#9a9a9a; */
  font-weight: bold;

  /* filter: drop-shadow(2px 2px 5px #222); */
  /* z-index: 1; */
  margin: 0 0.5rem;
  font-size: 2rem;
}

#one {
  cursor: pointer;
  font-weight: 500;
}
#two {
  font-weight: 100;
  cursor: pointer;
  color: #9a9a9a;
}

.App-Header-Name {
  z-index: 0;
  font-weight: bold;
  /* filter: drop-shadow(2px 3px 8px #222); */
  /* font-size: 1.5rem; */
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.App-Header-Des {
  z-index: 0;
  font-size: 1rem;
  align-self: center;
  /* background-color: antiquewhite; */
  /* color: white; */
  /* font-weight: bold; */
  /* filter: drop-shadow(2px 3px 8px #222); */
  /* z-index: 1; */
  /* align-self: center; */
  /* margin-top: 0.5rem; */
  /* background-color: blanchedalmond; */
  /* height: 90px;
  min-width: 120px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* margin: 0.3rem; */
  /* margin-left: 0.5rem; */
}

.App-Header-760px-Wrapper{
  width: 100%;
  display: flex;
  /* flex-direction: column */
  flex-grow: 1;
  /* background-color: #3e3e3e; */
  justify-content: space-between;
} 

.App-Header-Right {
  /* background-color: aqua; */
  margin-right: 2rem;
  /* min-width: 150px;
  min-height: 100px; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* align-self: center; */
  /* justify-content: center; */
  /* background-color: aqua; */
  /* align-items: flex-start; */
  /* font-size: 0.8rem; */
}

/* .App-Header-Title { */
  /* filter: drop-shadow(2px 3px 8px #222); */
  /* align-self: center; */
  /* font-weight: 500; */
  /* margin-top: 0.5rem;
  margin-bottom: 0.5rem; */
  /* font-size: 1.5rem; */
  /* margin: 0.3rem; */
/* } */
/* .App-Header-DateTime { */
  /* font-weight: bold; */
  /* filter: drop-shadow(2px 3px 8px #222); */
  /* margin: 0.3rem; */
/* } */
.App-Header-Des2 {
  font-size: 1rem;
  font-weight: bold;
  /* filter: drop-shadow(2px 3px 8px #222); */
  /* margin: 0.3rem; */
}
.App-Header-Save {
  font-size: 1.5rem;
  /* align-self: center; */
  cursor: pointer;
  /* margin: 0.2rem 0; */
}

@media screen and (max-width: 960px) {
  .App-Header-Container {
    padding: 0.5rem 0;
    width: 90vw;
    height: 70px;
  }
  /* .App-Header-Left {
  }

  .App-Header-Img {
  }

  .App-Header-Img .App-Header-ImgIcon {
  }

  .App-Header-Img .App-Header-ImgBackBlur {
  } */

  .App-Header-Temp {
    font-size: 2.5rem;
  }
  .App-Header-CF {
    font-size: 2rem;
  }

  #one {
    font-weight: 500;
  }
  #two {
    font-weight: 100;
    color: #9a9a9a;
  }

  /* .App-Header-Name {
  } */

  .App-Header-Des {
    font-size: 0.8rem;
  }
  /* .App-Header-760px-Wrapper{

  }  */
  .App-Header-Right {
    align-self: center;
    font-size: 0.8rem;
  }

  /* .App-Header-Title {
  }
  .App-Header-DateTime {
  }
  .App-Header-Des2 {
  } */
  .App-Header-Save {
    font-size: 1rem;
  }
}

@media screen and (max-width: 720px) {
  .App-Header-Container {
    
    width: 90vw;
    height: 30vh;
    flex-direction: column;
    /* justify-content: center; */
  }

  .App-Header-760px-Wrapper{
    justify-content: space-evenly;
    /* justify-content: center; */
    /* align-items: center; */
    height: 200px;
    /* background-color: #202124; */
  }
/* 
  .App-Header-Container > *{
    flex: 1 1 50%;
  } */
  .App-Header-Left {
    margin-top: 1rem;
    flex-grow: 1;
    /* background-color: cade; */
    align-self: center;
  }

  /* .App-Header-Img {
  }

  .App-Header-Img .App-Header-ImgIcon {
  }
 */
  .App-Header-Img .App-Header-ImgBackBlur {
    transform: scale(3) translateX(0%);
    filter: blur(4px);
  }

  .App-Header-Temp {
    margin-left: 2.5rem;
    font-size: 3.5rem;
  }
  .App-Header-CF {
    font-size: 2rem;
  }

  #one {
    font-weight: 500;
  }
  #two {
    font-weight: 100;
    color: #9a9a9a;
  }

  /* .App-Header-Name {
  } */

  .App-Header-Des {
    /* align-items: center; */
    font-size: 1rem;
  }
  
  .App-Header-Right {
    /* align-items:flex-start; */
    margin: 0;
    font-size: 1rem;
    align-self: center;
  }

  .App-Header-Title {
    font-weight: bold;
  }
  /* .App-Header-DateTime {
  }
  .App-Header-Des2 {
  } */
  .App-Header-Save {
    font-size: 1.5rem;
  }
}

/* ///////////////////////////////////////////////////////  Misc  ////////////////////////////////////////////////////////*/

.Air-Chart-Container,
.Pollution-Chart-Container,
.Temperature-Chart-Container {
  height: 12rem;
  width: 720px;
  margin: 0 auto;
  text-align: center;
}

/* .Air-Chart-Container,
.Pollution-Chart-Container,
.Temperature-Chart-Container  > h4{
color: white;
} */
@media screen and (max-width: 960px) {
  .Air-Chart-Container,
  .Pollution-Chart-Container,
  .Temperature-Chart-Container {
    /* padding: 0.5rem; */
    height: 10rem;
    width: 90vw;
  }
}

.Pollution-Chart-Container-UL {
  /* background-color: #27272785; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.Pollution-Chart-Container-UL li {
  list-style: none;
  text-decoration: underline;
}
/* @media screen and (max-width: 960px) {
  .Pollution-Chart-Container{
    width: 90vw;
  }
} */

.App-Chart-ControlBtns-Container {
  /* display: none; */
  background-color: #538a8f;

  /* background-color: rgb(77, 77, 77); */
  /* display: flex;
  justify-content: center; */
  margin-top: 2rem;
  /* height: 250px; */
  /* margin-: 2rem; */
  border-radius: 5px;
  /* width: 720px; */
  /* padding: 1rem; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* min-height: 500px; */
  /* margin-top: 3rem; */
  /* width: 900px */
}

.App-Chart-ControlBtns-Container h4{
  color: white;
}

@media screen and (max-width: 960px) {
  .App-Chart-ControlBtns-Container {
    width: 90vw;
  }
}

/* ///////////////////////////////////////////////////////  Forecast Cards  ////////////////////////////////////////////////////////*/

.App-Card-Array-Container {
  width: 720px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .App-Card-Array-Container {
    /* justify-content: space-around; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    width: 90vw;
  }
  .App-Card-Array-Container > * {
    flex: 1 1 160px;
    margin-top: 1rem;
  }
}

.App-Card-Container {
  display: flex;
  max-width: 100px;
  height: 150px;
  width: 80px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #202124; */
  background-color: #538a8f;
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
}
.App-Card-Day {
  font-size: 1rem;
  /* margin-top: 0.rem; */
}
.App-Card-Img {
  height: 70px;
}

.App-Card-Img Img {
  height: 100%;
}

.App-Card-Des {
  font-size: 0.7rem;
}
.App-Card-Temp {
  font-size: 1.5rem;
  /* margin-bottom: 0.5rem; */
}
/* @keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
.App-Error-Container {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 2rem;
  transition: all 0.5s ease;
  /* opacity: 0; */
  /* animation: fade-in 0.5s ease-in-out forwards; */
}
.App-Error-Title {
  color: rgb(255, 0, 0);
  padding: 0.2rem;
  margin: 0;
}
