@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  /* transition: all 1s ease-in; */
}

body {
  background-color: #3d3d3d;
  /* background-color: #202124; */
}
/* 
body *{
  transition: height 0.3s ease;
} */
/* 
body *:not(:last-child):hover {
  transform: translateY(-5px);
} */


/* body * {
  transition: all 3s ease;
} */
/* body :not(:last-child) {
  transition: all 0.3s ease;
} */

/* @keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
} */
.App-Loading-Container {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App-Loading-Container-Text {
  margin-top: 2rem;
  font-size: 2rem;
}

/* @keyframes AppAnimation {
  0%{

  }
} */

/* 
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
} */
